* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff !important;
    margin: 0;
}

.headerPart {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.heading {
    font-family: "Montez", cursive;
    font-style: normal;
    color: blue;
}


.signUpBtn,
.signInBtn {
    color: white;
    padding: 10px;
    background-color: blue;
    border: none;
}

.subTitle {
    display: flex;
    justify-items: end;
    flex-direction: row;
    justify-content: space-between;
}

.editSaveBtn {
    background-color: #fc2d59;
    border: none;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 1px;
}

.postContentClass {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.likeButton {
    background-color: #fc2d59;
    border: none;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 1px;
    font-weight: bolder;
}

.likeButton:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#likeMessage {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
    font-variation-settings:
        "wdth" 100;
    font-variant: small-caps;
    color: #948e8e;


}

#addEventNames {
    width: 100%;
    padding: 4px;
    background-color: #c0bfbf;
    margin-top: 20px;
}

#commentSectionPara {
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    color: black;
    border: 1px solid #7b4040; /* Example border */
    padding: 10px; /* Example padding */
    border-radius: 5px; /* Example border radius */
}

